{% extends 'base.html' %}

{% block title %}
{{ current_user.username }}
{% endblock %}

{% block content %}
<h1>{{ current_user.username }}'s Profile</h1>



<div class="row">
    <div class="col s6">
        <h3>Favorite Anime</h3>
        {% for anime in current_user.profile.animes.all %}
            <div class="card">
                <div class="card-content">
                    <h6>{{anime.name}}</h6>
                </div>

                <div class="card-action">
                    <a href="{% url 'unassoc_anime' current_user.id anime.id %}" class="btn-small">Un-Favorite</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col s6">
        <h3>Favorite Episodes</h3>

        {% for episode in current_user.profile.episodes.all %}
            <div class="card">
                <div class="card-content">
                    <h6>{{episode.name}}</h6>
                    <p>{{episode.anime}}</p>
                    <a href="{{episode.link}}">Link</a>
                </div>

                <div class="card-action">
                    <a href="{% url 'unassoc_episode' current_user.id episode.id %}" class="btn-small">Un-Favorite</a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}