{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nerd Deck - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Nerd Deck</a></li>
        </ul>
        <ul class="right">
          <li>
            <form action="{% url 'search' %}" method="GET" style="display: inline-flex;">
                <div class="input-field">
                  <input name="search" type="" class="form-control" id="" placeholder="  Search..">
                </div>
              <button type="submit" class="btn-small" style="margin-left: 10px; margin-top: 15px; margin-right: 20px;">Search</button>
            </form>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="/anime">All Anime</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'add_anime' %}">Add Anime</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  
  
  <footer class="page-footer blue">
    <div class="right">All Rights Reserved, &copy; 2021 Nerd Deck &nbsp;</div>
  </footer>
</body>
</html>