{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <h1>Welcome to Nerd Deck</h1>

    <div class="row">

        <div class="col s8">
            <section>
                <h5>Site News</h5>
                <hr />
                {% for article in articles %}
                    {% if article.is_featured %}
                        <div class="card ">
                            <div class="card-content light-blue lighten-5">
                                <span class="card-title"><strong>{{article.title}}</strong></span>
                            </div>
                            <div class="card-action">
                                <p>{{article.body}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        </div>

        <div class="col s4">

            <section>
                <h5>Featured Anime</h5>
                <hr />
                {% for anime in animes %}
                    {% if anime.is_featured %}
                        <a href="{% url 'anime_detail' anime.id %}">
                            <div class="card">
                                <div class="row" id="profile_card_row">
                                    {% for photo in anime.photo_set.all %}
                                    <div class="col s4" id="profile_card_image">
                                        <img src="{{photo.url}}" class="responsive-img card-panel">
                                    </div>
                                    {% endfor %}
                                    <div class="col s7">
                                        <div class="card-content" id="profile_card_content">
                                            <h5>{{anime.name}}</h5>
                                            <p>Episodes: {{anime.episodes}}</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </a>  
                    {% endif %} 
                {% endfor %}
            </section>
            <br />

            <section>
                <h5>Featured Episodes</h5>
                <hr />
                {% for episode in episodes %}
                    {% if episode.is_featured %}
                    <a href="{{episode.link}}" target="_blank">
                        <div class="card">
                            <div class="row" id="profile_card_row">
                                {% for photo in episode.photo2_set.all %}
                                <div class="col s4" id="profile_card_image">
                                    <img src="{{photo.url}}" class="responsive-img card-panel">
                                </div>
                                {% endfor %}
                                <div class="col s7">
                                    <div class="card-content" id="profile_card_content">
                                        <h5>{{episode.name}}</h5>
                                        <p>Anime: {{episode.anime}}</p>
                                        <p>Episodes #{{episode.number}}</p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
                <hr />
            </section>
        </div>
    </div>
{% endblock %}