body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  padding-top: 0;
  text-align: right;
}
#add-card{
  margin-top: 50px;
}
#id_description{
  height: 6rem;
}
#photo_input{
  margin-top: 7px;
}