{% extends 'base.html' %}

{% block title %}
Detail
{% endblock %}

{% block content %}

<h1>Show Details</h1>

<div class="row">

  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ anime_data.name }}</span>
        <p>Episodes: {{ anime_data.episodes }}</p>
        <br />
        <p>Description: {{ anime_data.description }}</p>
        <br />
        <p>Category: {{anime_data.category}}</p>
      </div>


      {% if user.is_authenticated %}
        <div class="card-action">
            <a href="{% url 'assoc_anime' anime_data.id %}" class="btn-small">Favorite</a>
          
          {% if current_user.profile.is_admin %}
            <a href="{% url 'edit_anime' anime_data.id %}" class="waves-effect waves-light btn-small">Edit</a>

            <form action="{% url 'delete_anime' anime_data.id %}" method="POST" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="waves-effect waves-light btn-small">Delete</button>
            </form>
          {% endif %}
          
        </div>
      {% endif %}
    </div>
  </div>

  {% if current_user.profile.is_admin %}
    <div class="col s6">
      <form action="{% url 'add_episode' anime_data.id %}" method="POST">
        {% csrf_token %}
        {{episode_form.as_p}}
        <input type="submit" value="Add Episode" class="btn-small">
      </form>
    </div>
  {% endif %}
</div>

<table class="striped">
  <thead>
    <tr>
      <th>Episode Number</th>
      <th>Episode Title</th>
      <th>Main/Filler</th>
      <th>Description</th>
      <th>Link</th>
      {% if user.is_authenticated %}
        <th>Actions</th>
      {% endif %}
      
      {% if current_user.profile.is_admin %}
        <th>Admin Actions</th>
      {% endif %}
      
      <tbody>
        {% for episode in anime_data.episode_set.all %}
        <tr>
          <td>{{episode.number}}</td>
          <td>{{episode.name}}</td>
          <td>{{episode.get_eptype_display}}</td>
          <td>{{episode.description}}</td>
          <td><a href="{{episode.link}}" target="_blank">Link</a></td>
          {% if user.is_authenticated %}
            <td><a href="{% url 'assoc_episode' anime_data.id episode.id %}" class="btn-small">Favorite</a></td>
          {% endif %}

          {% if current_user.profile.is_admin %}
            <td>

              <form action="{% url 'delete_episode' anime_data.id episode.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="waves-effect waves-light btn-small">Delete</button>
              </form>

              <br />

              <a href="{% url 'edit_episode' anime_data.id episode.id %}" class="waves-effect waves-light btn-small">Edit</a>
            </td>
          {% endif %}
          
        </tr>
        {% endfor %}
      </tbody>
    </tr>
  </thead>
</table>


<script>
  const selectEl = document.getElementById('id_eptype');
  M.FormSelect.init(selectEl);
</script>



{% endblock %}