{% extends 'base.html' %}

{% block title %}
    All Anime
{% endblock %}

{% block content %}
    <h1>Anime Index</h1>

    {% for anime in anime_data %}
    <a href="{% url 'anime_detail' anime.id %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{anime.name}}</span>
                <p>Episodes: {{anime.episodes}}</p>
                <p>{{anime.category}}</p>
                <p>{{anime.description}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}